@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*root*/
:root{
      --fuente-eslogan: 'Kanit';
      --fuente-global: 'Quicksand';
      --fuente-li: 'Josefin Sans';
      --fuente-titulo-subcribirse: 'Raleway';
      --tamaño-h1: 40px;
}

/*fuentes*/
*{
      font-family: var(--fuente-global);
}

li{
      font-family: var(--fuente-li);
}

.eslogan{
      font-family: var(--fuente-eslogan);
}

/*z-index*/
header{
      z-index: 1000;
}

/*contenido global*/
ul{
      /*decoracion*/
      list-style: none;
}

a{
      /*decoracion*/
      text-decoration: none;
      color: black;
}

button{
      /*decoracion*/
      cursor: pointer;
}

.hover{
      /*transiciones*/
      transition: all 1s;

      /*decoracion*/
      cursor: pointer;
}

.hover:hover{
      /*transiciones*/
      scale: 1.5;
      transform: rotateX(360deg);
      transition: all 1s;
}

.titulo-producto{
      /*tamaño*/
      font-size: 30px;
}
/* ---------------------------------------------------------------------------- */

/*body*/
body{
      /*decoracion*/
      background-color: white;

      /*margenes*/
      margin: 0;
}

/* ---------------------------------------------------------------------------- */

/*header*/
header{
      /*tamaño*/
      height: 25vh;

      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);

      /*posicion*/
      position: sticky;
      top: 0;

      /*decoracion*/
      background-color: white;
}

/*disposicion grid*/
header>*{
      grid-row: 2 / 4;
}

/*logo   header 1/3*/
.logo{
      /*tamaño*/
      height: 100%;
      width: 100%;

      /*decoracion*/
      cursor: pointer;
}


/*enlace secciones   header 2/3*/
#enlace-secciones{
      /*disposicion*/
      grid-column: 2 / 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      align-content: center;
      justify-items: center;
}

#enlace-secciones>li{
      /*decoracion*/
      font-size: large;
}

/*opciones usuario   header 3/3*/
.opciones-usuario{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      align-content: center;
      justify-items: center;
}

#inicio-sesion{
      /*tamaño*/
      scale: 2;

      /*disposicion*/
      grid-column: 2 / 3;

      /*decoracion*/
      cursor: pointer;

      /*transiciones*/
      transition: all 1s;
}

#carrito{
      /*tamaño*/
      scale: 2;

      /*disposicion*/
      grid-column: 3 / 4;

      /*decoracion*/
      cursor: pointer;

      /*transiciones*/
      transition: all 1s;
}

#carrito:hover,#inicio-sesion:hover{
      /*transiciones*/
      scale: 3;
      transform: rotateX(360deg);
      transition: all 1s;
}

/* ---------------------------------------------------------------------------- */

/*main*/
/* ---------------------------------------------------------------------------- */

/*seccion principal*/
.principal{
      /*disposicion*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5,minmax(1fr,1fr));
}

.banner{
      grid-row: 1 / 2;
}

.carrusel{
      grid-row: 2 / 3;
}

.siguenos{
      grid-row: 3 / 5;
      margin-top: 10%;
      margin-bottom: 10%;
}

.subcripcion{
      grid-row: 5 / 6;
      margin-bottom: 5%;
}

/*seciones*/

/*principal*/
/*banner*/
.banner{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(4,1fr);
      justify-items: center;

      /*decoracoin*/
      background-color: #000000;
}

/*dispocicion grid*/
.publicidad,.eslogan{
      grid-row: 2/4;
}

/*eslogan   banner 2/3*/
.eslogan{
      /*disposicion*/
      grid-column: 4 / 10;

      /*decoracion*/
      font-size: var(--tamaño-h1);
      color: rgb(235, 235, 234);
}

.publicidad:first-child{
      grid-column: 2 / 4;
}

.publicidad:last-child{
      grid-column: 10 / 12;
}

/*imagenes de publicidad   banner 1/3 y 3/3*/
.publicidad>img{
      /*tamaño*/
      width: 100%;
      height: 100%;
}

.publicidad{
      /*decoracion*/
      cursor: default;
}

/* ---------------------------------------------------------------------------- */
.carrusel{
      height: 100vh;
}

/*carrusel*/
#imagen-carrusel{
      /*tamaño*/
      width: 100%;
      height: 100%;
}

/* ---------------------------------------------------------------------------- */
/*siguenos*/
.siguenos{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: repeat(4,1fr);
      justify-items:center;
      align-content: center;
      text-align: center;
}

/*imagenes siguenos*/
.imagenes-siguenos{
      /*tamaño*/
      width: 100%;
      height: 100%;
}

.imagenes-siguenos:nth-child(1){
      grid-column: 2 / 3;
      grid-row: 1 / -1;
}

.imagenes-siguenos:nth-child(2){
      grid-column: 3 / 4;
      grid-row: 1 / -1;
}

.imagenes-siguenos:nth-child(3){
      grid-column: 4 / 5;
      grid-row: 1 / -1;
}

.informacion-siguenos{
      grid-column: 6 / 8;
      grid-row: 1 / -1;
}

/* ---------------------------------------------------------------------------- */
/*subcripccion*/
.subcripcion{
      /*disposicion*/
      display: flex;
      align-items: center;
      justify-content: center;
}

/*contenedor-subcripcion*/
.contenedor-subcripcion{
      /*disposicion*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.contenedor-subcripcion>*{
      /*decoracion*/
      margin-top: 5%;
}

#titulo-subcripcion{
      /*decoracion*/
      font-size: var(--tamaño-h1);
      font-family: var(--fuente-titulo-subcribirse);
}

#correo-subcripcion{
      /*tamaño*/
      width: 50%;
      height: 3vh;

      /*decoracion*/
      border: none;
      outline: none;
}

#correo-subcripcion:valid{
      /*decoracion*/
      border-bottom: 1px solid rgb(0, 177, 0);
}

#correo-subcripcion:invalid{
      /*decoracion*/
      border-bottom: 1px solid rgb(255, 0, 0);
}
/* ---------------------------------------------------------------------------- */
/* secciones */

/* contenedor gift */
.contenedor-gift{
      /*disposicion*/
      display: flex;
      align-items: center;
      justify-content: center;
}

/*contenedor categorias*/
.contenedor-categorias{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(10,1fr);
      grid-template-rows: 1fr;
}


/*seccion categoria*/
.categoria{
      /*disposicion*/
      grid-column: 2 / 10;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20%,80%;
}

.cabecera{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
}

.titulo-seccion{
      /*disposicion*/
      grid-column: 1 / 3;

      /*decoracion*/
      text-transform: capitalize;
      font-size: 40px;
}

.orden{
      /*tamaño*/
      width: 50%;
      height: 20%;

      /*disposicion*/
      grid-column: 3 / 4;
      justify-self: left;
}

/*productos*/
.productos{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      justify-items: center;
}

/* producto */
.producto{
      /*disposicion*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2,1fr);
}

.contenedor-imagen-producto,.contenedor-contenido-producto{
      /*disposicion*/
      display: flex;
      flex-direction: column;
}

/*contenedor imagen producto*/

.contenedor-imagen-producto{
      /*disposicion*/
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      align-self: center;
}

.imagen-producto{
      /*tamaño*/
      width: 50%;
      height: 50%;

      /*disposicion*/
      align-self: center;

      /*decoracion*/
      cursor: pointer;
}

.imagen-producto:hover{
      /*transiciones*/
      transform: scale(1.2);
      transition: all 0.5s;
}

/*contenedor contenido producto*/
.contenedor-contenido-producto{
      /*disposicion*/
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      align-self: center;
}

.ver, .precio-producto{
      /*disposicion*/
      align-self: center;
}

/* ---------------------------------------------------------------------------- */
/*vista producto especifico*/

/*contenedor producto*/
.contenedor-producto{
      /*disposicion*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;
      margin-bottom: 10vh;
}

.producto-unico{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(5,1fr) 5vh;
}

/*nombre producto*/
.nombre-producto-unico{
      /*disposicion*/
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
}

/*imagen producto unico*/
.contenendor-imagen-producto-unico{
      /*disposicion*/
      grid-column: 1 / 2;
      grid-row: 2 / 6;
      display: flex;
      align-items: center;
      justify-content: center;
}

.imagen-producto-unico{
      /*tamaño*/
      width: 50%;
}

/*imagen producto*/
.categoria-producto-unico{
      /*disposicion*/
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: center;
}

/* descripcion-producto-unico */
.descripcion-producto-unico{
      /*disposicion*/
      grid-column: 2 / 3;
      grid-row: 3 / 4;
}

/* precio-producto-unico */
.precio-producto-unico{
      /*disposicion*/
      grid-column: 2 / 3;
      grid-row: 4 / 5;
}

/* rating-producto-unico */
.rating-producto-unico{
      /*disposicion*/
      grid-column: 2 / 3;
      grid-row: 5 / 6;
}

/*caracteristicas-producto-unico*/
.caracteristicas-producto-unico{
      /*disposicion*/
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      display: flex;
      justify-content: space-evenly;
}

.caracteristicas-producto-unico>*{
      /*tamaño*/
      height: 30%;
}

/*boton comprar producto*/
.comprar{
      /*tamaño*/
      
}
/* ---------------------------------------------------------------------------- */
/*carrito*/
.contenedor-carrito{
      /*disposicion*/
      display: grid;
      grid-template-columns: repeat(9,1fr);
      grid-template-rows: 15% minmax(70%,80%);
}

.carrito-titulo{
      /*disposicion*/
      grid-column: 3 / 8;
      grid-row: 1 / 2;
      justify-self: center;
}

.carrito-contenido{
      /*disposicion*/
      grid-column: 3 / 8;
      grid-row: 2 / -1;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 10%;
}

/*contenedor del produto del carrito*/
.producto-carrito{
      /*disposicion*/
      display: grid;
      grid-template-columns: 1fr 2fr;
}

.contenedor-imagen-producto-carrito{
      border: 1px solid rgb(0, 0, 0);
      /*disposicion*/
      grid-column: 1 / 2;

      height: fit-content;
}

.imagen-producto-carrito{
      width: 100%;
}

.contenedor-informacion-producto-carrito{
      border: 1px solid rgb(255, 0, 0);
      /*disposicion*/
      grid-column: 2 / -1;
}
/* ---------------------------------------------------------------------------- */
/*footer*/
footer{
      /*tamaño*/
      height: 20vh;

      /*disposiocion*/
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;

      /*posicion*/
      position:static;
      bottom: 0;
}

/*disposicion grid*/
footer>*{
      grid-row: 1 / 4;
}

.pago{
      grid-column: 4 / 6;
}

/*secciones footer*/
.secciones-footer{
      /*disposicion*/
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
}

/*opciones pago y redes   footer 4/4*/
.opciones-pago-footer{
      /*disposicion*/
      display: flex;
      justify-content: center;
}

.opciones-pago-footer>a,i{
      /*margen*/
      padding: 5%;
}